 <div class="footer">
  <div class="footer-links">
        <a target="_blank" href="https://anchor.fm/sheepy"><i class="fa fa-podcast"></i></a>
         <a target="_blank" href="https://www.linkedin.com/company/18576635/"><i class="fa fa-linkedin"></i></a>
    <!-- <a target="_blank" href="https://join.slack.com/t/three-startuping/shared_invite/enQtMzEwNTQyMzUxOTI3LTA1N2M0YjdhZWFhOGY4YjhmOThmMDQ5OGQyZjk3OTI3OGVmNmI0OTI5MzdiYTVjNmVlZmZkMjNjNDAwOGM0YTA"><i class="fa fa-slack"></i></a> -->

    <a target="_blank" href="https://github.com/AllanBallester/Three"><i class="fa fa-github"></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
    <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
    <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
        <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>




<div class= "hidden-xs hidden-md">
    <%= image_tag "http://logo-logos.com/wp-content/uploads/2016/10/Decathlon_logo.png" %>
    <%= image_tag "http://www.bdgroup.am/wp-content/uploads/2014/10/okaidi_logo.png" %>
    <%= image_tag "https://res.cloudinary.com/dk9kkvy1o/image/upload/v1517680656/Adeo_logo_firhvx.png" %>
     <%= image_tag "https://res.cloudinary.com/dk9kkvy1o/image/upload/v1517681976/startupweekend-91407672_ujyh4i.png" %>
      <%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/c_scale,w_1200/v1517680521/tribbuu_bedbo2.png" %>
       <%= image_tag "https://res.cloudinary.com/dk9kkvy1o/image/upload/v1517680479/risekindness_h29ljw.png" %>
</div>


  </div>

  <div class="footer-copyright hidden-xs">
    <p> Copyright © 2018,   Three, All Rights Reserved <p>
  </div>
</div>
