 <div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.instagram.com/sheepy_lifestyle/?hl=en"><i class="fa fa-instagram"></i></a>
    <a target="_blank" href="https://www.linkedin.com/company/18576635/"><i class="fa fa-linkedin"></i></a>
        <a target="_blank" href="https://anchor.fm/sheepy"><i class="fa fa-podcast"></i></a>

    <!-- <a target="_blank" href="https://join.slack.com/t/three-startuping/shared_invite/enQtMzEwNTQyMzUxOTI3LTA1N2M0YjdhZWFhOGY4YjhmOThmMDQ5OGQyZjk3OTI3OGVmNmI0OTI5MzdiYTVjNmVlZmZkMjNjNDAwOGM0YTA"><i class="fa fa-slack"></i></a> -->

    <a target="_blank" href="https://github.com/AllanBallester/Sheepy"><i class="fa fa-github"></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
    <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
    <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
        <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>




<div class= "hidden-xs hidden-md">
    <%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1522859824/Patagonia.svg_1_mtq4n0.png" %>
    <%= image_tag "https://res.cloudinary.com/dk9kkvy1o/image/upload/v1517680479/risekindness_h29ljw.png" %>
     <%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1522860426/startupweek_wtmlch.png" %>
      <%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1522860290/CS_LogoOrangeRGB_hhlsao.png" %>
       <%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1522860153/zerowaste_nbtumv.png" %>
</div>


  </div>

  <div class="footer-copyright hidden-xs">
    <p> Copyright © 2018,   Sheepy, All Rights Reserved <p>
  </div>
</div>
