 <div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.facebook.com/decathlives/"><i class="fa fa-facebook"></i></a>
    <a target="_blank" href="https://www.instagram.com/decathlives/?hl=en"><i class="fa fa-instagram"></i></a>
    <a target="_blank" href="https://www.linkedin.com/company/tepee-pro-couchsurfing/"><i class="fa fa-linkedin"></i></a>
    <a target="_blank" href="https://www.youtube.com/channel/UC8FzcDcUonfegKt6NZ5yQAg"><i class="fa fa-youtube"></i></a>
        

    <!-- <a target="_blank" href="https://join.slack.com/t/three-startuping/shared_invite/enQtMzEwNTQyMzUxOTI3LTA1N2M0YjdhZWFhOGY4YjhmOThmMDQ5OGQyZjk3OTI3OGVmNmI0OTI5MzdiYTVjNmVlZmZkMjNjNDAwOGM0YTA"><i class="fa fa-slack"></i></a> -->

    <a target="_blank" href="https://github.com/AllanBallester/Sheepy"><i class=""></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
    <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
    <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
        <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>




<div class= "hidden-xs hidden-md">
    <%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1522859824/Patagonia.svg_1_mtq4n0.png" %>
    <%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1529690788/2000px-LinkedIn_Logo.svg_nookbo.png" %>
     <%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1529691070/Slack-CMYK_ebx99c.png" %>
      <%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1522860290/CS_LogoOrangeRGB_hhlsao.png" %>
       <%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1529690332/Decathlon_Logo_oi6h2m.png" %>
       <%= image_tag "http://res.cloudinary.com/dk9kkvy1o/image/upload/v1529690929/2000px-Google-Logo.svg_pzr9jk.png" %>
</div>


  </div>

  <div class="footer-copyright hidden-xs">
    <p> Copyright © 2018, Tepee, All Rights Reserved <p>
  </div>
</div>
