<div class= "banner middle-pic" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dk9kkvy1o/image/upload/c_scale,w_1146/v1522852397/judith-prins-452839-unsplash_1_vftzfu.jpg');">
  <div class="banner-content">
    <h1></i> </h1>
    <p class="big p space"> Leave the group. Bring singularity back. </p>
    <%= link_to "Start BAA Test", "https://form.jotformeu.com/80944668791372", class: "btn btn-yours" %>
  </div>
</div>

<div class="paddy">
  </div>

<div class= "banner2 middle-pic" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dk9kkvy1o/image/upload/v1526246008/banner-black_ozm0x1.jpg');">
  <div class="banner-content">
    <h1></i> </h1>
     <%= link_to "Start Activism", index_path, class: "btn btn-yours" %>
  </div>
</div>

<div class="container" id="home-giders">
  <h5 class= "text-center text-space"> How tasty is our grass ? </h5>
  <div class="row">
  <% first_feedback = true %>
    <% @feedbacks.each do |gider| %>
      <div class="col-xs-12 col-sm-6 col-md-4 <%= 'hidden-xs' unless first_feedback.present? %>">
       <div class="testimonial">
                        <div class="pic"><%= image_tag gider[:picture] %> </div>
                        <h3 class="testimonial-title"><%= gider[:name] %></h3>
                        <small class="post"><%= gider[:location] %></small>
                        <p class="description">
                            <%= gider[:description][0..285] %>
                        </p>
                    </div>
      </div>
    <% first_feedback = false %>
    <% end %>
  </div>

</div>
