<div class= "banner middle-pic" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dk9kkvy1o/image/upload/c_scale,h_2018/v1517675131/rawpixel-com-284730_rlo9hp.jpg');">
  <div class="banner-content">
    <h1></i> </h1>
    <p class="big p space"> We cure the insane fail's rate of Intrapreneurs from 0 to 1. </p>
    <%= link_to "Start as Intrapreneur", "https://calendly.com/threeincubator", class: "btn btn-yours" %>
  </div>
</div>

<div class="container" id="home-giders">
  <h5 class= "text-center text-space"> How was your experience with Three ? </h5>
  <div class="row">
  <% first_feedback = true %>
    <% @feedbacks.each do |gider| %>
      <div class="col-xs-12 col-sm-6 col-md-4 <%= 'hidden-xs' unless first_feedback.present? %>">
       <div class="testimonial">
                        <div class="pic"><%= image_tag gider[:picture] %> </div>
                        <h3 class="testimonial-title"><%= gider[:name] %></h3>
                        <small class="post"><%= gider[:location] %></small>
                        <p class="description">
                            <%= gider[:description][0..285] %>
                        </p>
                    </div>
      </div>
    <% first_feedback = false %>
    <% end %>
  </div>
</div>
