<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2Q05VtKEue0J08Cw9pFcTIpUikJl4wtI&callback=initMap">
    </script>

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <meta property="og:title" content="Tepee | Couchsurfing for profesionals.">
  <meta property="og:type" content="article">
  <meta property="og:url" content="http://www.tepee.live/">
  <meta property="og:image" content="http://res.cloudinary.com/dk9kkvy1o/image/upload/v1524039319/nikola-johnny-mirkovic-538778-unsplash_w3jkrj.jpg">
  <meta property="og:description" content="Are we oblige all to live the same life ? Leave the group and start raising your global positive impact. Start with our famous BAA Test.">
  <meta property="og:site_name" content="Sheepy">

    <title> Tepee | Couchsurfing for professionals </title>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
   <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= favicon_link_tag 'tepee2.png' %>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta name="google-site-verification" content="SvoD3UC_WXq2byuWj7xt0EX2al_fz115IS43YVn0xqE" />

  </head>
  <body>

    <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>

     <%= render 'shared/navbar' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

     <%= render 'shared/footer' %>
  </body>
</html>
